body
{
    margin:0;
    background:rgb(255, 255, 255); 
    font-family: 'Poppins', sans-serif;
    flex : 1;
}
a
{
    color: #585772(17, 7, 156);
}

h1
{
 color: rgb(230, 224, 224);
}

p1,p2,p3
{
 color: #585772;
 
}

header h1
{
    display:inline;
     

}

nav ul
{
    padding: 0 0 0 15px;
    color: white;
    display:inline;

}

nav ul li 
{
    background: black;
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
    
}
nav ul li a
{
    color:white;

}

#Goals
{
text-align: auto;
background: white;
  color:#585772;
}

#myname
{
 color: black;
}

