body
{
    margin:0;
    background:rgb(62, 64, 70); 
    font-family: 'Times New Roman';

}
a
{
    color: rgb(17, 7, 156);
}

h1
{
 color: rgb(230, 224, 224);
}

p1,p2,p3
{
 color: burlywood;
 
}

header h1
{
    display:inline;
     

}

nav ul
{
    padding: 0 0 0 15px;
    color: white;
    display:inline;

}

nav ul li 
{
    background: black;
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
    
}
nav ul li a
{
    color:white;

}



