.containerforform
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,177,146,1) 0%, rgba(127,212,152,1) 100%);
}
.icon 
{
    margin:5px;
    text-align: center;
}